<!DOCTYPE html>
<head>
    <title>{% block title %}The Recipe Network{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>The Recipe Network</h1>
    <nav>
        <ul style="display: flex; flex-direction: row; gap: 10px; list-style-type: none;">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'recipe_list' %}">Recipes</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_detail' user.username %}">My Account</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li> or <a href="{% url 'account_create' %}">Create an Account</a>
            {% endif %}
        </ul>
    </nav>

    <hr>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <hr>

    <footer>
        <p>The Recipe Network - Alena Hemminger - Spring 2025</p>
    </footer>
</body>
</html>
